.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

body {
  margin: 0;
  font-family: Arial,Helvetica, 'Microsoft Yahei',sans-serif;
  color: #7e8793;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padded {
  padding: 1rem;

}
.grey {
  color: #9fa3b0;
}
* {
  box-sizing: border-box;
}